<ion-header [translucent]="true">
  <ion-toolbar class="modern-header">
    <ion-title>Logo</ion-title>

    <div class="nav-links" slot="end">
      <a (click)="scrollToSection('hero')">Home</a>
      <a (click)="scrollToSection('about')">About Us</a>
      <a (click)="scrollToSection('news')">News and Announcement</a>
      <a (click)="scrollToSection('events')">Events Calendar</a>
      <span class="tenant-link">Submit a Report</span>
      <span class="tenant-link">Request a Document</span>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Hero -->
<div #heroSection>
<app-hero [variant]="heroVariant"></app-hero>
</div>
<!-- About Us -->
<div #aboutUsSection>
  <app-about-us></app-about-us>
</div>

<!-- News -->
<div #newsSection>
  <app-news-and-announcement></app-news-and-announcement>
</div>

<!-- Events -->
<div #eventsSection>
  <app-events-calendar></app-events-calendar>
</div>
  <app-footer></app-footer>
</ion-content>
