#container {
  text-align: center;
  margin-top: 75px;
}

#container strong {
  font-size: 50px;
  line-height: 26px;
  margin: auto;
}

#developers {
  width: 70%;
  margin: auto;
  margin-top: 50px;
}

#developers ion-col {
  max-width: 50%;
}

#developers ion-card {
  min-height: 100px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#developers a {
  text-decoration: none;
}