<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> brgy-service </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="container">
    <strong>Congratulations!!</strong>
    <br /><br />
    You made it here :)
  </div>

  <div id="developers">
    <!--Keep the row column count to 2--->
    <ion-grid>
      <ion-row>
        <ion-col>
          <ion-card>
            <ion-card-header>
              <ion-card-title>
                <a href="https://github.com/Eastly1997">John Wesley Bodoso</a>
              </ion-card-title>
              <ion-card-subtitle>
                Technical Manager / Lead Engineer
              </ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              Hello~ Tara beyblade or Dota2~
            </ion-card-content>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content>
